@page "/"

<PageTitle>Index</PageTitle>

<h1>Microservicio Autos</h1>
<ul>
    <li>Docente: Dr. Alejandro Fuentes Penna</li>
    <li>Alumno: García López Omar</li>
    <li>Actividad 4: Ejercicio</li>
</ul>
